<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>ParX Home</title>
</head>
<body>
    <main class ="container">
            <text>Welcome home!</text>
            <h1>{{.Name}}</h1>
            <h2>{{.Grade   }}</h2>
            <h3>{{.StudentNumber}}</h3>
            <h4>{{.Password }}</h4>
            <a href="/logout"><button>Logout</button></a>
    </main>
</body>
</html>
